$corPrincipal: #69B99D;
$qudradoDeTras: #CCF4E6;
$coresDoTitulo: #0F241D;
$corDoTexto: #767676; 
$fontePrincipal: Poppins, sans-serif;
$fonteTitulo: DM Sans, sans-serif;

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: $corPrincipal;
}

h1{
    color: $coresDoTitulo;
    font-family: $fontePrincipal;
}